doctype html
html(lang="en")
  head
    title index - MicroDeploys Example
    meta(name="viewport" content="width=device-width")
    link(rel="icon" type="image/svg" size="any" href="/images/favicons/favicon.svg")
    link(rel="icon" type="image/png" size="512x512" href="/images/favicons/favicon-512.png")
    link(rel="icon" type="image/png" size="192x192" href="/images/favicons/favicon-192.png")
    style
      include /style/main.css
  body
    main
      h2 Index page
      a(href='./info.html') Info
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
